#one,#two,#three,#four,#five{
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.718);
    height: 80px;
    margin:20px;
    text-align: center;
}

body{
    background-color: black;
    font-size: large;
}

input[type=submit]{
    margin:40px;
    width:200px;
    height:50px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.718);
}