<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Readings</title>
    <link rel="stylesheet" href="/css/category.css">
    <script></script> 
</head>
<body>
    <form action="/trivia">
        <h1>ᓚᘏᗢ A quiz a day keeps the C's away</h1>
        <div class="bar"><input type="submit" class="val" value="Start Quiz Now" ></div>
    </form>
    <img src="images/cat.jpeg" alt="hi">
    
</body>
</html>