<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="center_box">
        <h1>WELCOME TO TRIVIA</h1>
        Login<br><br>
        
        <form action="/home" method="post">
            Username:<br><input type="text" name="username" required><br><br>
            Password:<br><input type="text" name="password" required><br><br>
            <button class="login">Login >></button>
        </form>
    </div>
</body>
</html>