<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Score</title>
    <link rel="stylesheet" href="/css/category.css">
</head>
<body>
    <div class="bar"><h1>Your Score Is: <%-score%>. WOW you are among the top 0.001%</h1></div>
    <div class="bar"><a href="/home2">HOME</a></div>
</body>
</html>